<!DOCTYPE html>
<html lang="en" ng-app="GameApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sticky Footer Navbar Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
        <link href="css/page.css" rel="stylesheet">
    </head>

    <body ng-controller="GameController">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <!-- Begin page content -->
        <div class="site-wrapper">
            <div class="mt-3">
                <h1>Game Demo</h1>
            </div>

            <div class="row justify-content-md-center">
                <div id="gameCanvas" class="col-md-auto text-center"></div>
                <div class="col-md-4 log" ng-if="started">
                    <h2>得分榜:</h2>
                    <hr/>
                    <div class="alert alert-info" ng-repeat="message in messages" role="alert">
                        <small>
                            {{message.time | date :'HH:mm:ss'}}
                        </small>
                        <strong>
                            {{message.hero.name}}
                        </strong>
                        {{message.text}}
                    </div>
                </div>
                <div ng-if="started" class="w-100"></div>
                <div class="col-md-6 log">
                    <input class="form-control" ng-disabled="started" ng-model="config.nick" placeholder="input user name"/>
                    <button ng-if="!started" class="btn btn-primary" type="button" ng-click="startGame()">Start Game!</button>
                    <hr/>
                    <div class="alert alert-info" ng-repeat="message in messages" role="alert">
                        <small>
                            {{message.time | date :'HH:mm:ss'}}
                        </small>
                        <strong>
                            {{message.hero.name}}
                        </strong>
                        {{message.text}}
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
        <script src="js/nad-0.1.js"></script>
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/chance.min.js"></script>

        <script src="js/gameController.js"></script>
        <script src="js/game.js"></script>
        <script src="js/main.js"></script>

        <script
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    </body>
</html>
